h1 {
    color: #fd0808
}

h2 {
    color: #3813df
}

h3 {
    color: #7876eb
}

h4 {
    color: #b41b1b
}

h5 {
    color: #b41b1b
}

h6 {
    color: #b41b1b
}

p {
    color: #05400e;
    text-align: justify;
    /*text-align: right;*/
}

span {
    color: yellow;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgba(175, 226, 241, 0.61);
}

img {
    width: 500px;
    height: 300px;
}

table, th, td {
  border: 1px solid black;
  border-radius: 10px;
  width: 20%;
}